<!-- Include the header partial and specify a title -->
<% include ../_header %>

<!-- content -->
<div class='header'></div>

<div class='comments'>
    <div class='number'>10</div>
</div>

<!-- Include the footer partial -->
<% include ../_footer %>
